<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
      body {
        background-image: url('https://thumbs.dreamstime.com/b/car-sharing-banner-economy-transport-concept-car-sharing-banner-economy-transport-concept-cityscape-environment-illustration-143198475.jpg')
      }
      </style>
</head>
<body>
    <h2>Sapley of 3</h2>
    <p>Please enter the data for 3 players to get the Shapley value.</p>
<form action="/res" method="post">
  <label for="a">Alice:</label><br>
  <input type="number" id="a" name="a" value="0"><br>
  <label for="b">Bob:</label><br>
  <input type="number" id="b" name="b" value="0"><br>
  <label for="c">Chen:</label><br>
  <input type="number" id="c" name="c" value="0"><br>
  <label for="ab">Alice, Bob:</label><br>
  <input type="number" id="ab" name="ab" value="0"><br>
  <label for="ac">Alice, Chen:</label><br>
  <input type="number" id="ac" name="ac" value="0"><br>
  <label for="bc">Bob, Chen:</label><br>
  <input type="number" id="bc" name="bc" value="0"><br>
  <label for="abc">Alice, Bob, Chen:</label><br>
  <input type="number" id="abc" name="abc" value="0"><br>

  <input type="submit" value="Submit">
</form> 
</body>
</html>